/* .navbar-fixed {
    position: fixed;
    top: -3em;
} */


/*----------------------
    $NAVBAR
      basic navbar styling
    ----------------------*/

nav {
    width:100%;
    color: rgb(255, 252, 252);
    background: #000000;
    font-weight: 50px;
    letter-spacing: 0.025em;
    border-radius: 10px;
}

nav ul {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration:dotted;
}

nav ul li {
    display: inline-block;
    padding: 0 3em;
    line-height: 3em;
}

nav ul li:hover {
    background:grey;
}


/*----------------------
    $BODY
    ----------------------*/

body {
    background:whitesmoke;
}


/*----------------------
    $MISC
    ----------------------*/

.filler {
    width: 1px;
    height: 200px;
}

.two {
    height: fit-content;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.two{
    width: 100%;
    display:flexbox;
    text-align: center; 
     justify-content: center; 
}
